/* @override https://dallaway.telegr.am/css/demo.css */

html, body {
	background-color: #eee;
}

body {
	padding-top: 1em; 
}

.container > footer p {
	text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.container > .content {
	background-color: #fff;
	padding-top: 20px;
	
	-webkit-border-radius: 2px 2px 6px 6px;
	-moz-border-radius:  2px 2px 6px 6px;
	border-radius: 2px 2px 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


#site-title {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;

}

#site-title h1 {
	margin: 0;
	font-weight: normal;
}

#site-title h2 {
	font-size: small;
	font-style: italic;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 1em;
}

a {
	color:  #0099cc;	
}

ul.posts h2 a {
	color: black;
}


ul.posts h2 {
	border-top: 3pt solid #0099cc;
	font-size: x-large;
}

.date-bubble{display: block; width: 50px; height: 50px; background: url(http://posterous.com/themes/minimal/images/layout/bubble.png) no-repeat; position: absolute; right: -10px; top: -24px;}

.date-bubble span{display: block; line-height: 14px; text-align: center; text-transform: uppercase; color: #fff; font-size: 10px; text-shadow: 0px 1px 0pt rgba(0, 0, 0, 0.30);}

.date-bubble span.month{padding-top: 12px;}


.content {
	width: 620px;
	padding-right: 20px;
}

code {
  background-color: transparent;  
}
